@model LiftaiMVC.Models.Task
@{
    ViewBag.Title = "IndexHandyman";
}

<div class="jumbotron">
    <h1>Liftų valdymo sistema</h1>
</div>
<div class="row">
	<div class="col-lg-10">
		<h2>Priskirtas darbas</h2>
		<hr />
        
            <div class="lead" name="handymanJob"></div>
        
        @if (Model.id != 0 || Model.id != -1)
        {
            <div>
                <table class="table">
                    <tr>
                        <td>Užduotis sukurta</td><td>Aprašymas</td><td>Lifto ID</td><td>Liftas</td><td>Galimi veiksmai</td>
                    </tr>
                    <tr>
                        <td>@Model.FailureDate</td><td>@Model.Description</td><td>@Model.ElevatorID</td><td><a href="~/Views/Elevators/ElevatorForm.cshtml">Detaliau</a></td>
                        @if (HttpContext.Current.Session["Type"].ToString() == "Handyman")
                        {
                            <td>
                                @Html.ActionLink("Žymėti kaip atliktą", "changeStatus", new { onclick = "return confirm('Ar tikrai norite ištrinti šį įrašą?');" })
                            </td>
                        }
                    </tr>
                </table>	
            </div>
        }
        @if(Model.id == 0 || Model.id == -1)
        {
        <div>
            Nėra priskirto darbo
            @Html.ActionLink("Priskirti darbą", "changeStatus", new { onclick = "return confirm('Ar tikrai norite ištrinti šį įrašą?');" })
        </div>
        }
            	
	</div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Liftų sąrašas</h2>
        <p>
            Galima peržiūrėti liftų sąrašą.
        </p>
        <p><a class="btn btn-default" href="~/Elevators/ElevatorsList">Liftai &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pastatų sąrašas</h2>
        <p>Neimplementuota.</p>
        <p><a class="btn btn-default" href="~/Buildings/BuildingsList">Pastatai &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Darbo grafikas</h2>
        <p>Galima peržiūrėti darbo grafiką</p>
        <p><a class="btn btn-default" href="~/Schedule/SchedulePreview">Grafikas &raquo;</a></p>
    </div>
</div>


